{% extends "base.html" %}

{% block title %}Create Challenge{% endblock %}
{% block header %}Create Challenge{% endblock %}
{% block subheader %}Admin-only: add a new challenge to the platform{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-7">
    <div class="card shadow-sm">
      <div class="card-body">

        <form method="POST" class="d-grid gap-2">
          <label class="form-label">Title</label>
          <input class="form-control" name="title" placeholder="e.g., SQLi Basics" required>

          <label class="form-label mt-2">Description</label>
          <textarea class="form-control" name="description" rows="4" placeholder="What should the student do?" required></textarea>

          <div class="row mt-2">
            <div class="col-md-6">
              <label class="form-label">Difficulty</label>
              <select class="form-select" name="difficulty">
                <option>Beginner</option>
                <option>Medium</option>
                <option>Hard</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">Points</label>
              <input class="form-control" type="number" name="points" value="100" min="0" required>
            </div>
          </div>
          <label class="form-label mt-2">Lab Type</label>
          <select class="form-select" name="lab_type">
            <option value="none">None (no lab)</option>
            <option value="sqli">SQLi</option>
            <option value="xss">XSS (reflected)</option>
            <option value="stored_xss">Stored XSS</option>
            <option value="idor">IDOR</option>
            <option value="csrf">CSRF</option>
            <option value="bac">Broken Access Control</option>
          </select>


          <label class="form-label mt-2">Flag (stored hashed)</label>
          <input class="form-control" name="flag" placeholder="FLAG{example_flag}" required>

          <button class="btn btn-dark mt-3" type="submit">Create</button>
          <a class="btn btn-outline-dark" href="/admin">Back</a>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
