<h1>{{ challenge.title }}</h1>
<p><a href="/challenges">Back to Challenges</a></p>

<p><b>Difficulty:</b> {{ challenge.difficulty }}</p>
<p><b>Points:</b> {{ challenge.points }}</p>
<p>{{ challenge.description }}</p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if "SQLi" in challenge.title %}
  <p>
    <a href="/lab/sqli?mode=vuln&cid={{ challenge.id }}">Open SQLi Lab (Vulnerable)</a> |
    <a href="/lab/sqli?mode=secure&cid={{ challenge.id }}">View Secure Version</a>
  </p>
{% endif %}

{% if "XSS" in challenge.title %}
  <p>
    <a href="/lab/xss?mode=vuln&cid={{ challenge.id }}">Open XSS Lab (Vulnerable)</a> |
    <a href="/lab/xss?mode=secure&cid={{ challenge.id }}">View Secure Version</a>
  </p>
{% endif %}


<form method="POST">
  <input name="flag" placeholder="Enter flag" required />
  <button type="submit">Submit Flag</button>
</form>
