{% extends "base.html"%}

{% block title %} SQL Injection Lab{%endblock %}
{% block header %}SQL Injection Lab ({{ mode|capitalize }}){%endblock %}
{% block subheader %}Vulnerable vs Secure {%endblock%}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Lab Mode: {{ mode|capitalize }}</h5>

    {% if challenge_id %}
    <a class="btn btn-outline-dark btn-sm"
        href="/challenges/{{ challenge_id }}">
        Back to Challenge →
    </a>
    {% endif %}
</div>


<div class="card shadow-sm">
    <div class="card-body">

        <a class="btn btn-danger btn-sm"
            href="/lab/sqli?mode=vuln{% if challenge_id %}&challenge_id={{ challenge_id }}{% endif %}">
        Vulnerable
        </a> |
        <a class="btn btn-success btn-sm"
            href="/lab/sqli?mode=secure{% if challenge_id %}&challenge_id={{ challenge_id }}{% endif %}">
            Secure
        </a>


        <form method="POST" class="d-flex gap-2 mb-3">
            <input name="username" placeholder="Try username (guest/admin)" value="{{ username }}" required />
            <button class="btn btn-dark" type="submit">Search</button>
        </form>

        {% if query_used %}
            <p><b>Query used:</b> <code>{{ query_used }}</code></p>
        {% endif %}

        {% if result %}
            <p>Found user: <b>{{ result.username }}</b> (role: <b>{{ result.role }}</b>)</p>
        {% else %}
            <p>No match.</p>
        {% endif %}

        {% if flag %}
            <div class="alert alert-success">
                <b>Flag:</b> {{ flag }}
            </div>
        {% endif %}

        <hr>
        <h5>Why this worked</h5>
        <p class="text-muted">
            {% if mode == "vuln" %}
                User input is inserted directly into the SQL query, so the query logic can be changed (SQL injection).
            {% else %}
                User input is treated safely and cannot change the SQL query structure.
            {% endif %}
        </p>

        <h5>How it’s fixed</h5>
        <p class="text-muted">Use parameterized queries so input is handled as data, not executable SQL.</p>

        <h5>Evidence</h5>

        {% if mode == "vuln" %}
        <img src="{{ url_for('static', filename='images/sqli_vulnerable.png') }}" width="500">
        {% else %}
        <img src="{{ url_for('static', filename='images/sqli_secure.png') }}" width="500">
        {% endif %}


    </div>
</div>
{% endblock %}
