{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}
{% block header %}Leaderboard{% endblock %}
{% block subheader %}Top users by total points{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <table class="table table-striped mb-0">
        <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.points }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</main>

<section class="quote-section text-center">

    <div class="container py-5">


        <blockquote class="blockquote">
            <p class="mb-3 fs-4">
                “The best way to predict the future of security is to build it.”
            </p>

            <footer class="blockquote-footer text-white-50">
                Cybersecurity Mindset
            </footer>
        </blockquote>

    </div>

</section>

<main class="container pb-5">
{% endblock %}
