<!--Extending Base Template-->
{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block header %}Leaderboard{% endblock %}
{% block subheader %}Top users by total points{% endblock %}
{% block content %}
<!--content starts here-->
<div class="card shadow-sm">
    <!--layout to display leaderboard-->
    <div class="card-body">
        <!--table for ranking position-->
        <table class="table table-striped mb-0">
        <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <!--loops through user dynamically and display their rank-->
        {% for u in users %}
        <tr>
            <!--loop index to auto generate ranking position-->
            <td>{{ loop.index }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.points }}</td>
        </tr>
        {% endfor %}
        <!--close table and card layout-->
        </tbody>
    </table>
</div>
</div>
</main>
<!--Quote section here-->
<section class="quote-section text-center">

    <div class="container py-5">


        <blockquote class="blockquote">
            <p class="mb-3 fs-4">
                “The best way to predict the future of security is to build it.”
            </p>

            <footer class="blockquote-footer text-white-50">
                Cybersecurity Mindset
            </footer>
        </blockquote>

    </div>

</section>
<!--reopen main container for design purpose-->
<main class="container pb-5">
<!--content end here-->
{% endblock %}
