<!--base template extended-->
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block header %}Register{% endblock %}
{% block subheader %}Create an account to track progress and points{% endblock %}
{% block content %}
<!--content start here-->
<!--centers the register form using Bootstrap-->
<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <!--card container to hold the form-->
        <div class="card shadow-sm">
            <div class="card-body">
                <!--collects user details-->
                <form method="POST" class="d-grid gap-2">
                <label class="form-label">Username</label>
                <!--input-->
                <input class="form-control" name="username" placeholder="Username" required />
                <label class="form-label">Email</label>
                <input class="form-control mb-2" name="email" type="email" placeholder="Email" required />


                <label class="form-label mt-2">Password</label>
                <!--input-->
                <input class="form-control" name="password" type="password" placeholder="Password" required data-bs-toggle="tooltip" data-bs-placement="right"
                title="Min 10 chars, max 72, include at least 1 letter and 1 number."
                />
                <!--button to register user-->
                <button class="btn btn-dark mt-3" type="submit">Register</button>
                </form>
                <!--links to login page-->
                <p class="mt-3 mb-0 small">
                Already have an account? <a href="/login">Login</a>
                </p>

            </div>
        </div>
    </div>
</div>
<!--content ends here-->
{% endblock %}
